
    .content {
        padding-left: 5%;
    }

    h1 {
        color:teal;
        font-family: Comic Sans MS;
        display: block;
        width: 40%;
        text-align: center;
    }
    
    .container {
        display: block;
        background-color: teal;
        color: white;
        font-size: 120%;
        font-family: Comic Sans MS;
        width: 40%;
        padding: 1%;    
        padding-left: 5%;
        margin-bottom: 1%;
    }

    .submit {
        color: teal;
        font-family: Comic Sans MS;
        background-color: white;
        border: 1px solid gray;
        margin-top: 10%;
        text-decoration: none;
        display: block;
        width: 60%;
        padding: 1%;
        text-align: center;
    }
