<%-- imports --%>
<%@page errorPage="error_page.jsp" %> 
<%@page import="Session.Session"%>

<%-- Session --%>
<% if(!Session.authenticateStudent(request)) { response.sendRedirect("login.jsp"); } %>

<%-- which nav-link should be active? --%>
<%
    String active = request.getParameter("active");
    String nav1="", nav2="", nav3="";
    if("available_quizzes".equals(active)) {
      nav1 = "active";
    } else if("unattempted_quizzes".equals(active)) {
      nav2 = "active";
    } else if("marksheet".equals(active)) {
      nav3 = "active";
    } 
%>


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#nav-body {
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: Comic Sans MS;
  font-weight: bold;
  border: 1px solid gray;

}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: teal;
  color: white;
}

</style>
</head>
<body id="nav-body">
  <div id="navbar">
    <a href="available_quizzes.jsp" class=<%= nav1 %> > Available Quizzes </a>
    <a href="unattempted_quizzes.jsp" class=<%= nav2 %>> Unattempted Quizzes </a>
    <a href="quizzes_marksheet.jsp" class=<%= nav3 %>> Marksheet</a>
    <a href="logout.jsp" style="float: right;">Logout</a>
  </div>
</body>
</html>
